
h1{
  font-size: 2em;
}

.worksButton{
    position: relative;
    padding: 0px;
    width: 100%;
    height: 130px;
    background-color: #000000ff;
    overflow: hidden;
    transition: all 0.3s 0s ease;

    /*border: solid 1px #101010ff;*/
    /*border: solid 1px #ddddddff;*/
}
.worksButton:hover{
    height: 330px;
    transition: all 0.3s 0s ease;
}
.worksImage{
    object-fit: cover;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.worksImageTitle_L{
    object-fit: cover;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}
.worksImageTitle_R{
    object-fit: cover;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}


@media screen and (max-width:750px){
    h1{
    font-size: 1.5em;
    }
    .worksButton{
      height: 230px;
    }
    .worksButton:hover{
      height: 330px;
    }
}

@media screen and (min-width:1280px){
    h1{
    font-size: 2.5em;
    }
    .worksButton{
      height: 220px;
    }
    .worksButton:hover{
      height: 470px;
    }
}


.imageMove_L
{
    animation: 80s ease-in-out 0s infinite normal none running loop_ImageMoveAnimation_L;
}
.imageMove_R
{
    animation: 80s ease-in-out 0s infinite normal none running loop_ImageMoveAnimation_R;
}



@keyframes loop_ImageMoveAnimation_L {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-52%, -50%);
  }
  75% {
    transform: translate(-48%, -50%);
    
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes loop_ImageMoveAnimation_R {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-48%, -50%);
  }
  75% {
    transform: translate(-52%, -50%);
    
  }
  100% {
    transform: translate(-50%, -50%);
  }
}