/*上 右 下 左?*/

.otherimg{
    background-color: black;
    object-fit: contain;
    aspect-ratio: 5 / 3;
}
.otherbutton{
    text-align: center;
    border: solid 1px #f0f0f0ff; 
    margin: 12px 10% 12px 10%;
    width: 80%;
    font-size: 24px;
    height: 48px;
}

.othertags{
    text-align: left;
    margin: 4px 8px 4px 8px;
}
.othertag{
    margin: 0px 2px 0px 2px;
    padding: 2px 8px 2px 8px;
    border: solid 1px #131313ff; 
}

.box{
    background-color: #202020ff;
    box-shadow: 0px 0px 16px 4px var(--ShadowColor);
}