
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* 上 | 右 | 下 | 左 */


.Mochiy{
    font-family: 'Mochiy Pop One', sans-serif;
}
.Anton{
    font-family: 'Anton', sans-serif;
}

.VLBack{
    background-image: url(/images/Voidlase/VOIDLASE_Back.jpg);
    background-size: cover;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}

.VLUIBack{
    background-image: url(/images/Voidlase/VOIDLASE_UIBack.jpg);
    border-radius: 10px;
}
.VLUIFrameStart{
    background: url(/images/Voidlase/VOIDLASE_TextFrame.jpg) round;
    background-size: 150px;
    height: 75px;
    border-radius: 10px 10px 0px 0px;
}
.VLUIFrameEnd{
    background: url(/images/Voidlase/VOIDLASE_TextFrame.jpg) round;
    background-size: 150px;
    height: 75px;
    border-radius: 0px 0px 10px 10px;
}

.VLTextBack{
    background-image: url(/images/Voidlase/VOIDLASE_TextBack.jpg);
    border-radius: 5px;
    border: solid 5px #999999;
    margin: 10px 30px 20px 30px;
    padding: 8px 8px 8px 8px;
    filter: drop-shadow(8px 8px 0px #443333ff);
}

.VLTextBackNoWrap{
    background-image: url(/images/Voidlase/VOIDLASE_TextBack.jpg);
    border-radius: 5px;
    border: solid 5px #999999;
    margin: 10px 30px 20px 30px;
    padding: 8px 8px 8px 8px;
    filter: drop-shadow(8px 8px 0px #443333ff);
    white-space: nowrap;
}

.VLVideoBack{
    background-color: #342315;
    border: solid 5px #bbbbbb;
    padding: 16px;
}

.VLTitle{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 22px;
    margin: 2px 5px 2px 5px;
    padding: 2px 5px 2px 5px;
}


@media screen and (max-width:480px){
    .VLUIFrame{
        background: url(/images/Voidlase/VOIDLASE_TextFrame.jpg) round;
        background-size: 100px;
        height: 50px;
        border-radius: 10px 10px 0px 0px;
    }
    .VLTextBack{
        background-image: url(/images/Voidlase/VOIDLASE_TextBack.jpg);
        border-radius: 5px;
        border: solid 5px #999999;
        margin: 10px 15px 20px 15px;
        padding: 6px 5px 6px 5px;
        filter: drop-shadow(8px 8px 0px #443333ff);
    }
    .VLTextBackNoWrap{
        background-image: url(/images/Voidlase/VOIDLASE_TextBack.jpg);
        border-radius: 5px;
        border: solid 5px #999999;
        margin: 10px 15px 20px 15px;
        padding: 6px 5px 6px 5px;
        filter: drop-shadow(8px 8px 0px #443333ff);
        white-space: nowrap;
    }
}
